<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb3 border-bottom shadow-sm">
    <h5 class="my-0 me-md-auto">ヘッダーロゴ</h5>
    <nav class="d-flex my-2 my-md-0 mr-md-3">
        <li class="p-2 me-md-2 text-dark"><a href="#">商品</a></li>
        <li class="p-2 me-md-2 text-dark"><a href="#">サポート</a></li>
        <li class="p-2 me-md-2 text-dark"><a href="#">価格</a></li>
    </nav>
    <a href="#" class="btn btn-outline-primary">新規登録</a>
</header>
